      /* home page */

.blocPage{
    margin: auto;
    background-color: #fafafa;
    /*margin : 40px;*/
}

/*.blogEntier{
      display: flex ;
      justify-content: space-between;
      width : 1200px;
      margin: auto;
}*/


      /* Common */

h1{
text-align: center;
color: rgb(251,168,88);
font-weight: bold;
padding-top : 50px;
}

h2{
font-size: 1.8em;
}

p{
text-align: justify;
line-height: 1.4em;
}

input{
  height : 2em;
  text-align: center;
}

textarea{
  margin : auto;
}


      /* posts style */

.cards{
    margin : 50px;
    padding : 0px;
    background-color: white;
    box-shadow: 0 0 50px #d8d8d8;
    /*width : 260px;*/
}

.cardsImg{
  margin : 0;
  padding: 0 ;
}

.cards:hover {
    transform: scale(1.1);
    z-index: 5;
    box-shadow: 0 0 50px gray;
}

.cardsH2{
    text-align: center;
    padding-top : 10px;

    /*margin-bottom: 80px;
    height: 30px;*/
}

.cardsP{
    padding : 30px;
    height : 80px;
}


      /* on open post */

.selectedCard{

    /*margin : auto ;
    margin-bottom : 70px;
    width : 850px;
    padding : 30px;*/
    background-color: white;
   }

.selectedCardH3{
  font-weight: normal;
  font-style: italic;
}

.selectedCardP{
  /*width : auto;*/
}


      /* write a new post */

.newCard{
  /*margin : auto ;
  margin-bottom : 70px;
  width : 850px;
  padding : 30px;*/
}




      /* Bouttons */

.btn{
  color: #739de3;
  border : none;
  background-color: transparent;
  font-size: 1em;
}

.btnLearnMore{
  margin: 8% 0 1% 35%;
}

.btn-close{
  float : right;
  font-size: 2em;
  font-weight: bold;
}

.btnAddProject{
  font-weight: bold;
  font-size: 1.6em;
  margin : 5% 0 5% 45%;
}

.btnOk, .btnEdit{
margin-left : 45%;
}

.nextprev{
  width : 40px;
  font-weight: bold;
  font-size: 1.2em;
}

/***** NAVBAR *****/

.navbar-default .navbar-nav>.active>a {
  color: orange;
  background-color: rgba(251,168,88,0.2);
}


/***** FOOTER *****/

.footer {
    background: #222222 none repeat scroll 0 0;
    border-top: 4px solid #fcab0e;
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    color: #fcab0e;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}


.footer-bottom {
 background:#d8d8d8;
 padding:15px 0;
 border-top:1px solid #d9d9d9;
 font-size:11px;
 color:#777;
}
