      /* home page */

.blocPage{
    margin: auto;
    background-color: #fafafa;
    /*margin : 40px;*/
}

/*.blogEntier{
      display: flex ;
      justify-content: space-between;
      width : 1200px;
      margin: auto;
}*/


      /* Common */

h1{
text-align: center;
color: rgb(251,168,88);
font-weight: bold;
padding-top : 50px;
}

h2{
font-size: 1.8em;
text-align: center;
}

p{
text-align: justify;
line-height: 1.6em;
}

input{
  height : 2em;
  text-align: center;
  margin : 2px;
}

textarea{
  margin : auto;
}

.img{
  margin : 0;
  padding: 0 ;
}

      /* posts style */

.cards{
    margin : 50px;
    padding : 0px;
    background-color: white;
    box-shadow: 0 0 50px #d8d8d8;
    /*width : 260px;*/
}

.cards:hover {
    transform: scale(1.1);
    z-index: 5;
    box-shadow: 0 0 50px gray;
}

.cardsH2{
    padding-top : 10px;
}

.cardsP {
    padding : 30px;
    height : 80px;
}

@media(max-width : 768px ){
  .cards{
    margin: 0px;}
  .cardsP{
    padding : 0px;
    height : 130px;}
}


/* on open post */

.selectedCard{
    margin-top : 30px;
    width : 850px;
    padding : 30px;
    background-color: white;
}

.selectedCardImg{
    width : 100% !important;
}

.selectedCardH2{
    font-weight: normal;
    padding : 10px;

}

.selectedCardP{
    /*width : auto;*/
}

.selectedCardInfo{
    border:orange solid 2px;
}

.selectedCardH3{
    color: rgb(251,168,88);
    text-align: center;
}

.selectedCardInfoTitle{
  background-color: rgba(251,168,88,0.2);
}

      /* write a new post */

.newCard{
  /*margin : auto ;
  margin-bottom : 70px;
  width : 850px;
  padding : 30px;*/
}




      /* Bouttons */

.btn{
  color: rgb(251,168,88);
  border : none;
  background-color: transparent;
  font-size: 1em;
}

.btnLearnMore{
  /*margin: 8% 0 1% 35%;*/
}

.btn-close{
  float : right;
  font-size: 2em;
  font-weight: bold;
}

.btnAddProject{
  font-weight: bold;
  font-size: 1.6em;
  margin : 5% 0 5% 45%;
}

.btnOk, .btnEdit{
margin-left : 45%;
}

.nextprev{
  width : 40px;
  font-weight: bold;
  font-size: 1.2em;
}
