<section>
    <div class="blogEntier">

        <h1> Les projets de la Wild Code School</h1>

        <!-- FILTER NAVBAR -->
        <div class="navbar-filter">
          <ul id="menu-demo2" style="margin-top:95px">
          	<li><a>Type de projet</a>
          		<ul>
          			<li><a href="" ng-click="myOrderBy = 'web-apps'">Web Apps</a></li>
          			<li><a href="" ng-click="myOrderBy = 'mobile-apps'">Mobile Apps</a></li>
          		</ul>

          	</li>
          	<li><a>Langages</a>
          		<ul>
          			<li><a href="" ng-click="myOrderBy = 'PHP'">Php</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Javascript'">Javascript</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Ruby'">Ruby</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Java '">Java </a></li>
          		</ul>
          	</li>
          	<li><a>Technos</a>
          		<ul>
          			<li><a href=""href="" ng-click="myOrderBy = 'Pages statiques'">Pages statiques</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Symfony'">Symfony</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Drupal'">Drupal</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Wordpress'">Wordpress</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Prestashop'">Prestashop</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Mean-stack'">Mean Stack</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Ionic'">Ionic</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Ruby-on-rails'">Ruby on Rails</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Android'">Android</a></li>
          		</ul>
          	</li>
          	<li><a>Ecoles</a>
          		<ul>
          			<li><a href="" ng-click="myOrderBy = 'La Loupe'">La Loupe</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Chartres'">Chartres</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Orleans'">Orléans</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Bordeaux'">Bordeaux</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Toulouse'">Toulouse</a></li>
          			<li><a href="" ng-click="myOrderBy = 'Lyon'">Lyon</a></li>
                <li><a href="" ng-click="myOrderBy = 'Fontainebleau'">Fontainebleau</a></li>
          		</ul>
          	</li>
          </ul>
        </div> <!-- FILTER NAVBAR -->

        <div class="container-fluid">
            <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                <!-- Lecture simplifiée des projets -->
                <div ng-repeat="project in $ctrl.projects | filter:{'language': myOrderBy}" class="cards col-xs-12 col-md-6 col-lg-5" ng-if="!$ctrl.selectedProject && !$ctrl.newProject">
                    <img class="cardsImg cardsImnView col-xs-12 img-responsive img" ng-src="data:image/jpg;base64,{{project.visuel}}" />
                    <h2 class="cardsH2 col-xs-12"> {{project.title}} </h2>
                    <p class="cardsP col-xs-12"> {{project.resume | limitTo:200 }} </p>

                    <h3 class="cardsH3 col-xs-12 text-center"> Ses codeurs : </h3>
                    <div ng-repeat="coder in project.coders | limitTo : 2" >
                        <div class="col-offset-xs-4 col-xs-3 cardsViewPic">
                            <div class="row">
                                <img class="cardsImg img-responsive img-rounded img" ng-src="data:image/jpg;base64,{{coder.photo}}" />
                            </div>
                            <div class="row">
                                <p class="text-center">{{coder.firstname}}{{coder.lastname}}</p>
                            </div>
                        </div>
                    </div>

                    <button type="button" name="button" class="btn btnLearnMore col-xs-offset-9 col-xs-2" ng-click="$ctrl.selected(project, $index)">En savoir +</button>
                </div>
                <!-- Lecture et modification des projets -->
                <div class="selectedCard col-lg-offset-2 col-lg-8 view" ng-if="$ctrl.selectedProject">
                    <button type="button" class="btn btn-close" name="button" ng-click="$ctrl.selectedProject = null"> X </button>

                    <img class="selectedCardImg img-responsive img" ng-if="!$ctrl.selectedProject.editMode" ng-src="data:image/jpg;base64,{{$ctrl.selectedProject.visuel}}" />
                    <input ng-if="$ctrl.selectedProject.editMode" type='file' name="visuel" class="form-control" ng-model="$ctrl.visuel" base-sixty-four-input>

                    <h2 class="selectedCardH2" ng-if="!$ctrl.selectedProject.editMode"> {{$ctrl.selectedProject.title}} </h2>
                    <input ng-if="$ctrl.selectedProject.editMode" type="text" name="title" ng-model="$ctrl.selectedProject.title" class="largeImput">

                    <p class="selectedCardP" ng-if="!$ctrl.selectedProject.editMode"> {{$ctrl.selectedProject.resume}} </p>
                    <textarea rows="8" cols="100" ng-if="$ctrl.selectedProject.editMode" type="text" name="title" ng-model="$ctrl.selectedProject.resume" class="editContent"></textarea>

                    <div class="row">
                        <p class="selectedCardP col-xs-3" ng-if=" $ctrl.selectedProject.projectUrl"> Site du projet : </p>
                        <p class="selectedCardP" ng-if="!$ctrl.selectedProject.editMode && $ctrl.selectedProject.projectUrl"> <a href="{{$ctrl.selectedProject.projectUrl}}"> {{$ctrl.selectedProject.projectUrl}} </a></p>
                        <input ng-if="$ctrl.selectedProject.editMode" type="text" name="ProjectUrl" ng-model="$ctrl.selectedProject.projectUrl" class="largeImput">

                        <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                            <div class="col-xs-12 col-lg-5 selectedCardInfo">
                                <div class="row selectedCardInfoTitle">
                                    <h3 class="selectedCardH3"> Informations</h3>
                                </div>
                                <div class="row">
                                    <p class="selectedCardP col-lg-4">Ecole :</p>
                                    <p class="selectedCardP col-lg-8" ng-if="!$ctrl.selectedProject.editMode">{{$ctrl.selectedProject.school}}</p>
                                    <p ng-if="$ctrl.selectedProject.editMode">
                                        <select class="form-control" name="school" ng-model="$ctrl.selectedProject.school" class="selectedCardP">
                                          <option name="school" value="La Loupe">La Loupe</option>
                                          <option name="school" value="Chartres">Chartres</option>
                                          <option name="school" value="Orléans">Orléans</option>
                                          <option name="school" value="Bordeaux">Bordeaux</option>
                                          <option name="school" value="Toulouse">Toulouse</option>
                                          <option name="school" value="Lyon">Lyon</option>
                                          <option name="school" value="Fontainebleau">Fontainebleau</option>
                                        </select>
                                    </p>
                                </div>
                                <p>Languages utilisés : </p>
                                <p> <i class="fa fa-html5 fa-2x"></i> <i class="fa fa-css3 fa-2x"></i> </p>
                                <p ng-if="!$ctrl.selectedProject.editMode">{{$ctrl.selectedProject.language}} </p>
                                <p ng-if="$ctrl.selectedProject.editMode">
                                  <select class="form-control" name="language" ng-model="$ctrl.selectedProject.language">
                                    <option name="language" value="Javascript">Javascript</option>
                                    <option name="language" value="PHP">PHP</option>
                                    <option name="language" value="Ruby">Ruby</option>
                                    <option name="language" value="Java ">Java</option>
                                  </select>
                                </p>
                                <p ng-if="!$ctrl.selectedProject.editMode"> Type de projet : {{$ctrl.selectedProject.type}} </p>
                                <p ng-if="$ctrl.selectedProject.editMode">
                                  <select class="form-control" name="type" ng-model="$ctrl.selectedProject.type">
                                    <option name="type" value= "Web Apps">Web Apps</option>
                                    <option name="type" value= "Mobile Apps">Mobile Apps</option>
                                  </select>
                                </p>
                                <p ng-if="!$ctrl.selectedProject.editMode"> Technologie utilisée : {{$ctrl.selectedProject.techno}} </p>
                                <p ng-if="$ctrl.selectedProject.editMode">
                                  <select class="form-control" name="techno" ng-model="$ctrl.selectedProject.techno">
                                    <option name="techno" value= "Pages statiques">Pages statiques</option>
                                    <option name="techno" value= "Symfony">Symfony</option>
                                    <option name="techno" value= "Drupal">Drupal</option>
                                    <option name="techno" value= "Wordpress">Wordpress</option>
                                    <option name="techno" value= "Prestashop">Prestashop</option>
                                    <option name="techno" value= "Mean-stack">Mean stack</option>
                                    <option name="techno" value= "Ionic">Ionic</option>
                                    <option name="techno" value= "Ruby-on-rails">Ruby on Rails</option>
                                    <option name="techno" value= "Android">Android</option>
                                  </select>
                                </p>
                                <div class="row">
                                    <i class="fa fa-github fa-2x col-xs-2" ng-if="$ctrl.selectedProject.editMode || $ctrl.selectedProject.github"></i>
                                    <p class="selectedCardP" ng-if="!$ctrl.selectedProject.editMode && $ctrl.selectedProject.github"> <a href="{{$ctrl.selectedProject.github}}"> {{$ctrl.selectedProject.github}}</a></p>
                                    <input ng-if="$ctrl.selectedProject.editMode" type="text" name="github" ng-model="$ctrl.selectedProject.github">
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-offset-2 col-lg-5 selectedCardInfo" ng-if="$ctrl.selectedProject.editMode || $ctrl.selectedProject.customerName">
                                <div class="row selectedCardInfoTitle">
                                    <h3 class="selectedCardH3"> Client :</h3>
                                </div>

                                <div class="row">
                                    <p class="selectedCardP" ng-if="!$ctrl.selectedProject.editMode && $ctrl.selectedProject.customerName"> {{$ctrl.selectedProject.customerName}}</p>
                                    <p class="text-center"><input ng-if="$ctrl.selectedProject.editMode" type="text" placeholder="Nom du client" name="customerName" ng-model="$ctrl.selectedProject.customerName"></p>
                                </div>
                                <div class="row">
                                    <p class="selectedCardP" ng-if="!$ctrl.selectedProject.editMode && $ctrl.selectedProject.customerAddress"> {{$ctrl.selectedProject.customerAddress}}</p>
                                    <p class="text-center"><input ng-if="$ctrl.selectedProject.editMode" type="text" placeholder="Adresse du client" name="customerAddress" ng-model="$ctrl.selectedProject.customerAddress"></p>
                                </div>
                                <div class="row">
                                    <p class="selectedCardP" ng-if="!$ctrl.selectedProject.editMode && $ctrl.selectedProject.customerEmail"> {{$ctrl.selectedProject.customerEmail}}</p>
                                    <p class="text-center"><input ng-if="$ctrl.selectedProject.editMode" type="text" placeholder="Adresse mail du client" name="customerEmail" ng-model="$ctrl.selectedProject.customerEmail"></p>
                                </div>
                                <div class="row">
                                    <p class="selectedCardP" ng-if="!$ctrl.selectedProject.editMode && $ctrl.selectedProject.customerPhoneNumber"> {{$ctrl.selectedProject.customerPhoneNumber}}</p>
                                    <p class="text-center"><input ng-if="$ctrl.selectedProject.editMode" type="text" placeholder="N°de téléphone du client" name="customerPhoneNumber" ng-model="$ctrl.selectedProject.customerPhoneNumber"></p>
                                </div>

                            </div>
                        </div>
                        <div class="buttonsEdit">
                            <button type="button" class="btn btnEdit " name="button" ng-if="!$ctrl.selectedProject.editMode" ng-click="$ctrl.edit(selectedProject) ; $ctrl.selectedProject.editMode = true"> <i class="fa fa-pencil fa-3x"></i> </button>
                            <button type="button" class="btn btnOk" name="button" ng-if="$ctrl.selectedProject.editMode" ng-click="$ctrl.save() ; $ctrl.selectedProject.editMode = false"> <i class="fa fa-check fa-3x"></i> </button>
                            <button type="button" class="btn " name="button" ng-if="!$ctrl.selectedProject.editMode" ng-click="$ctrl.delete(selectedProject, $index)"> <i class="fa fa-trash fa-3x"></i> </button>
                            <button type="button" class="btn " name="button" ng-if="$ctrl.selectedProject.editMode" ng-click="$ctrl.cancel()"> <i class="fa fa-remove fa-3x"></i> </button>
                        </div>
                    </div>

                </div>
                <!-- Ajout de nouveaux projets -->
                <div class="selectedCard col-xs-12 col-lg-offset-2 col-lg-8 selectedCard view" ng-if="$ctrl.newProject">
                    <button type="button" class="btn btn-close" name="button" ng-click="$ctrl.newProject = null"> X </button>

                    <p class="text-center addP"> Nom du projet : </p>
                    <input type="text" name="title" ng-model="$ctrl.newProject.title" class="largeImput">

                    <p class="addP"> Image du projet : </p>
                    <input type='file' name="visuel" class="form-control" ng-model="$ctrl.visuel" base-sixty-four-input>

                    <p class="addP"> Entrez une description du projet : </p>
                    <textarea rows="8" cols="100" placeholder="Résumé du projet (contexte, client, demandes,...)"type="text" name="title" ng-model="$ctrl.newProject.resume"></textarea>

                    <div class="row">
                        <p class="selectedCardP addP col-xs-3"> Site du projet : </p>
                        <input type="text" name="ProjectUrl" placeholder="url du projet" ng-model="$ctrl.$ctrl.newProject.projectUrl" class="largeImput">

                        <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                            <div class="col-xs-12 col-lg-5 selectedCardInfo">
                                <div class="row selectedCardInfoTitle">
                                    <h3 class="selectedCardH3"> Informations</h3>
                                </div>
                                <div>
                                    <p class="selectedCardP addP">Ecole : </p>
                                    <p>
                                        <select class="form-control" name="school" ng-model="$ctrl.newProject.school" class="selectedCardP">
                                          <option name="school" value="La Loupe">La Loupe</option>
                                          <option name="school" value="Chartres">Chartres</option>
                                          <option name="school" value="Orléans">Orléans</option>
                                          <option name="school" value="Bordeaux">Bordeaux</option>
                                          <option name="school" value="Toulouse">Toulouse</option>
                                          <option name="school" value="Lyon">Lyon</option>
                                          <option name="school" value="Fontainebleau">Fontainebleau</option>
                                        </select>
                                    </p>
                                </div>

                                <p class="addP">Languages utilisés : </p>
                                <div>
                                    <p> <i class="fa fa-html5 fa-2x"></i> <i class="fa fa-css3 fa-2x"></i> </p>
                                    <p>
                                      <select class="form-control" name="language" ng-model="$ctrl.newProject.language">
                                        <option name="language" value="Javascript">Javascript</option>
                                        <option name="language" value="PHP">PHP</option>
                                        <option name="language" value="Ruby">Ruby</option>
                                        <option name="language" value="Java ">Java</option>
                                      </select>
                                    </p>
                                </div>
                                <p class="addP"> Type de projet : </p>
                                <p>
                                  <select class="form-control" name="type" ng-model="$ctrl.newProject.type">
                                    <option name="type" value= "Web Apps">Web Apps</option>
                                    <option name="type" value= "Mobile Apps">Mobile Apps</option>
                                  </select>
                                </p>
                                <p class="addP">Technologie utilisée : </p>
                                <p>
                                    <select class="form-control" name="techno" ng-model="$ctrl.newProject.techno">
                                        <option name="techno" value= "Pages statiques">Pages statiques</option>
                                        <option name="techno" value= "Symfony">Symfony</option>
                                        <option name="techno" value= "Drupal">Drupal</option>
                                        <option name="techno" value= "Wordpress">Wordpress</option>
                                        <option name="techno" value= "Prestashop">Prestashop</option>
                                        <option name="techno" value= "Mean-stack">Mean stack</option>
                                        <option name="techno" value= "Ionic">Ionic</option>
                                        <option name="techno" value= "Ruby-on-rails">Ruby on Rails</option>
                                        <option name="techno" value= "Android">Android</option>
                                    </select>
                                </p>
                                <div class="row">
                                    <i class="fa fa-github fa-2x col-xs-2"></i>
                                    <input type="text" placeholder="Github du projet" name="github" ng-model="$ctrl.newProjects.github">
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-offset-2 col-lg-5 selectedCardInfo">
                                <div class="row selectedCardInfoTitle">
                                    <h3 class="selectedCardH3"> Client :</h3>
                                </div>

                                <p class="text-center">
                                    <input type="text" placeholder="Nom du client" name="customerName" ng-model="$ctrl.newProject.customerName">
                                </p>
                                <p class="text-center">
                                    <input type="text" placeholder="Adresse du client" name="customerAddress" ng-model="$ctrl.newProject.customerAddress">
                                  </p>
                                  <p class="text-center">
                                    <input type="text" placeholder="Adresse mail du client" name="customerEmail" ng-model="$ctrl.newProject.customerEmail">
                                  </p>
                                  <p class="text-center">
                                    <input type="text" placeholder="N°de téléphone du client" name="customerPhoneNumber" ng-model="$ctrl.newProject.customerPhoneNumber">
                                </p>

                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn btnOk" name="button" ng-click="$ctrl.add()"> Valider </button>
                </div>


            </div>

        </div>
    </div>
    <button type="button" name="button" ng-click="($ctrl.newProject = {})" class="btn buttonsEdit" ng-if="!$ctrl.selectedProject"> <i class=" fa fa-plus-circle fa-3x"></i> </button>
    </div>
</section>
