
    <div class="blogEntier">

        <div ng-repeat="project in $ctrl.projects" class="unproject" ng-if="!$ctrl.selectedProject && !$ctrl.newProject" >
            <h2 class="blogH2"> {{project.title}} </h2>
            <p class="blogP"> {{project.resume | limitTo:300 }} </p>
            <button type="button" name="button" class="btn btnLearnMore" ng-click="$ctrl.selected(project, $index)">Learn more -></button>
        </div>

        <div class="zoomArticle" ng-if="$ctrl.selectedProject">
            <button type="button" class="btn btn-close" name="button" ng-click="$ctrl.selectedProject = null"> X </button>

            <h2 class="articleH2" ng-if="!$ctrl.selectedProject.editMode"> {{$ctrl.selectedProject.title}} </h2>
            <input ng-if="$ctrl.selectedProject.editMode" type="text" name="title" ng-model="$ctrl.selectedProject.title" class="editTitle">
            <!-- <h3 class="articleH3"> publié le {{$ctrl.selectedProject.createdAt | date:"dd/MM/yyyy"}} {{($ctrl.selectedProject.createdAt != $ctrl.selectedProject.updatedAt ? ' et modifié le ' + ctrl.selectedProject.updateAt : null) | date:"dd/MM/yyyy"}} par {{$ctrl.selectedProject.author}}</h3> -->
            <!-- <input ng-if="$ctrl.selectedProject.editMode" type="text" name="author" ng-model="$ctrl.selectedProject.author" class="editAuthor"> -->

            <p class="articleP" ng-if="!$ctrl.selectedProject.editMode"> {{$ctrl.selectedProject.resume}} </p>
            <textarea rows="8" cols="100" ng-if="$ctrl.selectedProject.editMode" type="text" name="title" ng-model="$ctrl.selectedProject.resume" class="editContent"></textarea>
            <button type="button" class="btn btnEdit " name="button" ng-if="!$ctrl.selectedProject.editMode" ng-click="$ctrl.edit(selectedProject) ; $ctrl.selectedProject.editMode = true"> Modifier </button>
            <button type="button" class="btn btnOk" name="button" ng-if="$ctrl.selectedProject.editMode" ng-click="$ctrl.save() ; $ctrl.selectedProject.editMode = false">Valider</button>
            <button type="button" class="btn " name="button" ng-if="!$ctrl.selectedProject.editMode" ng-click="$ctrl.delete(selectedProject, $index)"> Supprimer </button>
            <button type="button" class="btn " name="button" ng-if="$ctrl.selectedProject.editMode" ng-click="$ctrl.cancel()">Annuler</button>
        </div>

        <div class="newArticle" ng-if="$ctrl.newProject">
            <button type="button" class="btn btn-close" name="button" ng-click="$ctrl.newProject = null"> X </button>
            <input type="text" placeholder="Titre de l'article" name="title" ng-model="$ctrl.newProject.title" class="newTitle">
            <input type="text" placeholder="Nom de l'auteur" name="author" ng-model="$ctrl.newProject.visuel" class="newAuthor">
            <textarea rows="10" cols="100" type="text" placeholder="Contenu de l'article" name="content" ng-model="$ctrl.newProject.resume" class="newContent"> </textarea>
            <button type="button" class="btn btnOk" name="button" ng-click="$ctrl.add()"> Valider </button>
        </div>

    </div>
    <button type="button" name="button" ng-click="($ctrl.newProject = {})" class="btn btnAddProject" ng-if="!$ctrl.selectedProject"> + Add article </button>
